<section class="input-section">
  <input type="text" #nameInput/>
  <button (click)="addHandler(nameInput.value)">Add</button>
</section>

<section class="todo-section flex-center">
  @for (item of todoItemList; track item.id) {
    @if (!item.completed) {
      <todo-item 
        class="flex-center"
        [item]="item"
        (onComplete)="completeHandler($event)"
        (onDelete)="deleteHandler($event)"
      ></todo-item>
    }
  }
</section>
<hr/>
<section class="complete-section flex-center">
  @for (item of todoItemList; track item.id) {
    @if (item.completed) {
      <todo-item 
        class="flex-center"
        [item]="item"
        (onComplete)="completeHandler($event)"
        (onDelete)="deleteHandler($event)"
      ></todo-item>
    }
  }
</section>