.input-section {
    display: flex;
    justify-content: center;
}

.todo-section {
    flex-direction: column;
    margin-bottom: 20px;
}

.complete-section {
    flex-direction: column;
    margin-top: 20px;
}

hr {
    width: 50%;
}